.theme-pink {
  --color-cyan-50: var(--color-pink-50);
  --color-cyan-100: var(--color-pink-100);
  --color-cyan-200: var(--color-pink-200);
  --color-cyan-300: var(--color-pink-300);
  --color-cyan-400: var(--color-pink-400);
  --color-cyan-500: var(--color-pink-500);
  --color-cyan-600: var(--color-pink-600);
  --color-cyan-700: var(--color-pink-700);
  --color-cyan-800: var(--color-pink-800);
  --color-cyan-900: var(--color-pink-900);
  --color-cyan-950: var(--color-pink-950);
  --color-blue-50: var(--color-rose-50);
  --color-blue-100: var(--color-rose-100);
  --color-blue-200: var(--color-rose-200);
  --color-blue-300: var(--color-rose-300);
  --color-blue-400: var(--color-rose-400);
  --color-blue-500: var(--color-rose-500);
  --color-blue-600: var(--color-rose-600);
  --color-blue-700: var(--color-rose-700);
  --color-blue-800: var(--color-rose-800);
  --color-blue-900: var(--color-rose-900);
  --color-blue-950: var(--color-rose-950);
  --color-indigo-50: var(--color-fuchsia-50);
  --color-indigo-100: var(--color-fuchsia-100);
  --color-indigo-200: var(--color-fuchsia-200);
  --color-indigo-300: var(--color-fuchsia-300);
  --color-indigo-400: var(--color-fuchsia-400);
  --color-indigo-500: var(--color-fuchsia-500);
  --color-indigo-600: var(--color-fuchsia-600);
  --color-indigo-700: var(--color-fuchsia-700);
  --color-indigo-800: var(--color-fuchsia-800);
  --color-indigo-900: var(--color-fuchsia-900);
  --color-indigo-950: var(--color-fuchsia-950);
  --color-slate-50: var(--color-stone-50);
  --color-slate-100: var(--color-stone-100);
  --color-slate-200: var(--color-stone-200);
  --color-slate-300: var(--color-stone-300);
  --color-slate-400: var(--color-stone-400);
  --color-slate-500: var(--color-stone-500);
  --color-slate-600: var(--color-stone-600);
  --color-slate-700: var(--color-stone-700);
  --color-slate-800: var(--color-stone-800);
  --color-slate-900: var(--color-stone-900);
  --color-slate-950: var(--color-stone-950);
}

.theme-startup {
  --color-cyan-50: var(--color-emerald-50);
  --color-cyan-100: var(--color-emerald-100);
  --color-cyan-200: var(--color-emerald-200);
  --color-cyan-300: var(--color-emerald-300);
  --color-cyan-400: var(--color-emerald-400);
  --color-cyan-500: var(--color-emerald-500);
  --color-cyan-600: var(--color-emerald-600);
  --color-cyan-700: var(--color-emerald-700);
  --color-cyan-800: var(--color-emerald-800);
  --color-cyan-900: var(--color-emerald-900);
  --color-cyan-950: var(--color-emerald-950);
  --color-blue-50: var(--color-teal-50);
  --color-blue-100: var(--color-teal-100);
  --color-blue-200: var(--color-teal-200);
  --color-blue-300: var(--color-teal-300);
  --color-blue-400: var(--color-teal-400);
  --color-blue-500: var(--color-teal-500);
  --color-blue-600: var(--color-teal-600);
  --color-blue-700: var(--color-teal-700);
  --color-blue-800: var(--color-teal-800);
  --color-blue-900: var(--color-teal-900);
  --color-blue-950: var(--color-teal-950);
  --color-indigo-50: var(--color-cyan-50);
  --color-indigo-100: var(--color-cyan-100);
  --color-indigo-200: var(--color-cyan-200);
  --color-indigo-300: var(--color-cyan-300);
  --color-indigo-400: var(--color-cyan-400);
  --color-indigo-500: var(--color-cyan-500);
  --color-indigo-600: var(--color-cyan-600);
  --color-indigo-700: var(--color-cyan-700);
  --color-indigo-800: var(--color-cyan-800);
  --color-indigo-900: var(--color-cyan-900);
  --color-indigo-950: var(--color-cyan-950);
  --color-slate-50: var(--color-zinc-50);
  --color-slate-100: var(--color-zinc-100);
  --color-slate-200: var(--color-zinc-200);
  --color-slate-300: var(--color-zinc-300);
  --color-slate-400: var(--color-zinc-400);
  --color-slate-500: var(--color-zinc-500);
  --color-slate-600: var(--color-zinc-600);
  --color-slate-700: var(--color-zinc-700);
  --color-slate-800: var(--color-zinc-800);
  --color-slate-900: var(--color-zinc-900);
  --color-slate-950: var(--color-zinc-950);
}

.theme-morale {
  --color-cyan-50: var(--color-amber-50);
  --color-cyan-100: var(--color-amber-100);
  --color-cyan-200: var(--color-amber-200);
  --color-cyan-300: var(--color-amber-300);
  --color-cyan-400: var(--color-amber-400);
  --color-cyan-500: var(--color-amber-500);
  --color-cyan-600: var(--color-amber-600);
  --color-cyan-700: var(--color-amber-700);
  --color-cyan-800: var(--color-amber-800);
  --color-cyan-900: var(--color-amber-900);
  --color-cyan-950: var(--color-amber-950);
  --color-blue-50: var(--color-orange-50);
  --color-blue-100: var(--color-orange-100);
  --color-blue-200: var(--color-orange-200);
  --color-blue-300: var(--color-orange-300);
  --color-blue-400: var(--color-orange-400);
  --color-blue-500: var(--color-orange-500);
  --color-blue-600: var(--color-orange-600);
  --color-blue-700: var(--color-orange-700);
  --color-blue-800: var(--color-orange-800);
  --color-blue-900: var(--color-orange-900);
  --color-blue-950: var(--color-orange-950);
  --color-indigo-50: var(--color-yellow-50);
  --color-indigo-100: var(--color-yellow-100);
  --color-indigo-200: var(--color-yellow-200);
  --color-indigo-300: var(--color-yellow-300);
  --color-indigo-400: var(--color-yellow-400);
  --color-indigo-500: var(--color-yellow-500);
  --color-indigo-600: var(--color-yellow-600);
  --color-indigo-700: var(--color-yellow-700);
  --color-indigo-800: var(--color-yellow-800);
  --color-indigo-900: var(--color-yellow-900);
  --color-indigo-950: var(--color-yellow-950);
  --color-slate-50: var(--color-orange-50);
  --color-slate-100: var(--color-orange-100);
  --color-slate-200: var(--color-orange-200);
  --color-slate-300: var(--color-orange-300);
  --color-slate-400: var(--color-orange-400);
  --color-slate-500: var(--color-orange-500);
  --color-slate-600: var(--color-orange-600);
  --color-slate-700: var(--color-orange-700);
  --color-slate-800: var(--color-orange-800);
  --color-slate-900: var(--color-orange-900);
  --color-slate-950: var(--color-orange-950);
}

.theme-dark {
  --color-cyan-50: var(--color-indigo-50);
  --color-cyan-100: var(--color-indigo-100);
  --color-cyan-200: var(--color-indigo-200);
  --color-cyan-300: var(--color-indigo-300);
  --color-cyan-400: var(--color-indigo-400);
  --color-cyan-500: var(--color-indigo-500);
  --color-cyan-600: var(--color-indigo-600);
  --color-cyan-700: var(--color-indigo-700);
  --color-cyan-800: var(--color-indigo-800);
  --color-cyan-900: var(--color-indigo-900);
  --color-cyan-950: var(--color-indigo-950);
  --color-blue-50: var(--color-violet-50);
  --color-blue-100: var(--color-violet-100);
  --color-blue-200: var(--color-violet-200);
  --color-blue-300: var(--color-violet-300);
  --color-blue-400: var(--color-violet-400);
  --color-blue-500: var(--color-violet-500);
  --color-blue-600: var(--color-violet-600);
  --color-blue-700: var(--color-violet-700);
  --color-blue-800: var(--color-violet-800);
  --color-blue-900: var(--color-violet-900);
  --color-blue-950: var(--color-violet-950);
  --color-indigo-50: var(--color-purple-50);
  --color-indigo-100: var(--color-purple-100);
  --color-indigo-200: var(--color-purple-200);
  --color-indigo-300: var(--color-purple-300);
  --color-indigo-400: var(--color-purple-400);
  --color-indigo-500: var(--color-purple-500);
  --color-indigo-600: var(--color-purple-600);
  --color-indigo-700: var(--color-purple-700);
  --color-indigo-800: var(--color-purple-800);
  --color-indigo-900: var(--color-purple-900);
  --color-indigo-950: var(--color-purple-950);
  --color-slate-50: var(--color-slate-50);
  --color-slate-100: var(--color-slate-100);
  --color-slate-200: var(--color-slate-200);
  --color-slate-300: var(--color-slate-300);
  --color-slate-400: var(--color-slate-400);
  --color-slate-500: var(--color-slate-500);
  --color-slate-600: var(--color-slate-600);
  --color-slate-700: var(--color-slate-700);
  --color-slate-800: var(--color-slate-800);
  --color-slate-900: var(--color-slate-900);
  --color-slate-950: var(--color-slate-950);
}

